.man {
  display: flex;
  justify-content: space-between;

}

.menu {
  display: flex;
  max-width: fit-content;
  margin-left: auto;

}

ul {
  list-style-type: none;
}

li {

  margin-right: 50px;
  font-size: 40px;
  color: blue;
}

.no-underline {
  text-decoration-line: none;
}