.man {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(7px);
  width: 100%;
}

.logo {
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  line-height: 2.5;
}

.menu {
  display: flex;
  max-width: fit-content;
  margin-left: auto;

}

ul {
  list-style-type: none;
}

li {

  margin-right: 10px;
  font-size: 24px;
  color: blue;
}

.no-underline {
  text-decoration-line: none;
}