footer {
  flex-grow: 0;
  width: 100%;
  height: fit-content;
  font-size: 15px;
  backdrop-filter: blur(7px);
  text-align: center;
}

.text-f {
  font-size: 25px;
  line-height: 3;
  color: rgb(170, 75, 41)
}